# Example systemd config file for airbud server

[Unit]
Description=Airbud

[Service]
WorkingDirectory=/home/pi/airbud
ExecStart=/home/pi/airbud/bin/airbud
User=pi
Restart=always

[Install]
WantedBy=multi-user.target